.clickable {
  cursor: pointer;
}

.hover {
  border: 1px solid rgba(0, 0, 0, 0);
}

.hover:hover {
  border: 1px solid #e63946;
  border-radius: 30%;
}

.today {
  border: 1px solid #457b9d;
  border-radius: 30%;
  background-color: #457b9d;
}
